disease/chatbot_model.h5
disease/common_disease_diagnoser.pkl
disease/common_diseases.csv
disease/complex_disease_diagnoser.pkl
disease/complex_diseases.csv
CancerDiagnoser/blood_cancer_model.h5
CancerDiagnoser/brain_tumor_model.h5
CancerDiagnoser/kidney_cancer_model.h5
CancerDiagnoser/lung_cancer_model.h5
CancerDiagnoser/skin_cancer_model.h5
mental_health/chatbot_model_mental_health_sympt.h5
mental_health/chatbot_model_mental_health.h5
mental_health/rf_classifier_model_mental_health.pkl
mental_health/scaler_mental_health.pkl
mental_health/disease_symptom_matrix.csv